* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://th.bing.com/th/id/R.0c5fb3ed07f11a70951631f27a2b34ce?rik=6qZ9PWni1o2IRg&pid=ImgRaw&r=0);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo {
    max-width: 1000px;
    background-color: rgba(123, 154, 160, .4);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 90%;
    border-bottom: 2px solid #49676c;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.header #nvTarea {
    background: none;
    border: none;
    outline: none;
}

.header #btnAdd {
    width: 30px;
    height: 30px;
    padding: 4px;
}

.header #btnAdd img {
    width: 100%;
    height: 100%;
}

li button {
    width: 30px;
    height: 30px;
    padding: 4px;
}

li button .imgTarea {
    width: 100%;
    height: 100%;
}